// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
  table {
    table-layout: auto;
    border-collapse: collapse;
    tr th, td {
      border-width: thin;
      border-style: dashed;
      padding: 0.25em 0.5em 0.25em;
      white-space: nowrap;
    }
  }
  
  .list_line_even {
    background: #ffffcc;
  }
  
  .list_line_odd {
    background: #ffcc99;
  }

  .table_corner_header_left_cell {
    border-style: dashed none dashed dashed;
    padding: 0.25em 0.5em 0em;
    text-align: left;
  }

  .table_corner_header_right_cell {
    border-style: dashed dashed dashed none;
    padding: 0em 0.5em 0.25em;
    text-align: right;
  }
  
  .table_top_header, .table_side_header {
    padding: 0.25em 0.5em 0.25em;
  }
  
  .dose_short_name {
    border-style: dashed dashed none;
    padding: 0.25em 0.5em 0em;
  }
  
  .dose_due {
    border-style: none dashed none;
    padding: 0em 0.5em 0em;
    text-align: left;
  }
  
  .dose_given {
    border-style: none dashed dashed;
    padding: 0em 0.5em 0.25em;
    text-align: left;
  }
  
  .notes {
    text-align: right;
    white-space: normal;
  }